{{ $recipes := where .Site.RegularPages "Section" "recipes" }}
{{ if $recipes }}
<ul class="recipe-list">
  {{ range sort $recipes "Date" "desc" }}
  <li class="recipe-list-item">
    <a href="{{ .RelPermalink }}" class="recipe-list-link">
      {{ with .Params.est_color_ebc }}<span class="recipe-list-swatch" style="background: {{ partial "beer-color-hex.html" . }}"></span>{{ end }}
      <span class="recipe-list-name">{{ .Params.title }}</span>
      {{ with .Params.style }}<span class="recipe-list-style">{{ .name }}</span>{{ end }}
      {{ with .Params.status }}<span class="badge badge-{{ . }}">{{ . }}</span>{{ end }}
    </a>
    <time class="recipe-list-date">{{ .Date | dateFormat "2 Jan 2006" }}</time>
  </li>
  {{ end }}
</ul>
{{ else }}
<p>No recipes yet.</p>
{{ end }}
